.md-show {
	visibility: visible;
}

.modal-backdrop{
	background: rgba(46, 65, 95, 0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	opacity: .6 !important;
}

.modal, .modal.fade.in, .modal.fade{
	box-shadow: 0px 0px 80px 0px #031E48;
	top: 50px;
	/*bottom: 0;*/
	left: 0;
	right: 0;
	margin: auto;
	/*height: 90%;*/
	height:700px;
	overflow-x:hidden;
	overflow-y:hidden;
	width: 1300px;
    padding: 0;
	background-color: transparent;
	display:block;
	bottom:auto;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

/* Content styles */
.md-content {
	color: #fff;
	background:  #709DE5; /* #000055 ; */ /*  #e74c3c;*/
	position: relative;
	border-radius: 3px;
	margin: 0px;
	height: 700px;
	width: 1300px;
    overflow: hidden;
}

.modal-img{
	max-height: 600px;
	max-width: 800px;
	/*margin-left: 30px;*/
	float:none;
	top:0px;
	bottom:0px;
	right:0px;
	left:0px;
	margin:auto;
	position:absolute;
}

.md-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	/*font-size: 2.4em;
	font-weight: 300;*/	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}
.md-content .price {
	font-size: 2.0em;
	font-weight: bold;
	color:#D40300;
	margin: 10px;
	padding: 10px;
	text-align: center;
	opacity: 0.8;
	/*background:#CD0A0A;*/
}

.md-content > div {
	/*padding: 15px 40px 30px;*/
	/*margin: 0;*/
	font-weight: 300;
	font-size: 1.15em;
	display:inline-block;
}
.left-bar{
	float:left;
	width:70%;
	height:100%;
	border-right:1px white solid;
	margin-left:10px;
	/*margin-top: -19px;*/
	padding-top:10px;
	position:relative;
}
.right-bar{
	width:30%!important;
	/*width: 400px;*/
	margin-left:-10px;
	padding-left:20px;
	padding-right:10px;
	margin-top:10px;
}
.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.md-content > div ul li {
	padding: 5px 0;
}

.md-content button {
	display: inline-block!important;
	margin: 0 auto;
	font-size: 0.8em;
}
.buttons-bar{
	width:350px;
	display:inline-block!important;
}
.modal-body{
	max-height: none;
	height: 80%;
	width:100%;
	/*min-height: 100%;*/
	text-align:left;
	margin-bottom: -40px;
	margin-left:0;
	padding: 0;
}

.md-footer{
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border: none;
	margin-top:auto;
	margin-bottom:0px;
}


/* Individual modal styles with animations/transitions */

/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	/*-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;*/
}

.md-show.md-effect-1 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
img.md-close{
    cursor: pointer;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    position: fixed;
    z-index: 1100;
}

.modal-dialog, .modal-content{
    width: auto;
    padding: 0;
    margin: 0;
    position: static;
    z-index: auto;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    transform: none !important;
    -webkit-transition: all 0s ease 0s !important;
    -moz-transition: all 0s ease 0s !important;
    transition: all 0s ease 0s !important;
    background-color: transparent;
}
