<perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="50">
<div class="md-content">
    <div class="left-bar">
        <img class="modal-img" ng-src="{{modalOptions.imgUrl}}" onError="this.onerror=null;this.src='/images/ebay_market_182x76.gif';" />
    </div>
    <div class="right-bar">
        <h3>{{modalOptions.bodyText}}</h3>
        <p class="price">
          ${{modalOptions.headerText}}
        </p>
        <span class="buttons-bar">
          <button data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
        </span>
    </div>
</div>
</perfect-scrollbar>
<img src="/images/cross-24-512.png" class="md-close" data-ng-click="modalOptions.close()"/>
